h1 {
  font-family: 'Playfair Display SC', serif;
}

h2 {
  font-family: 'Playfair Display SC', serif;
}

h3 {
  font-family: 'Playfair Display SC', serif;
}

h4 {
  font-family: 'Playfair Display SC', serif;
  color: #5E4955;
}

p {
  font-family: 'Pontano Sans', sans-serif;
}
