h1 {
  font-family: 'Playfair Display SC', serif;
  margin-bottom:0;
}

h2 {
  font-family: 'Playfair Display SC', serif;
}

h3 {
  font-family: 'Playfair Display SC', serif;
}

h4 {
  font-family: 'Playfair Display SC', serif;
  color: lightblue;
  background-color: black;
  width:auto;
  padding:4px;
}

p, li {
  font-family: 'Pontano Sans', sans-serif;
  width: 70vw;
  padding-left: 20px;
}

.summary {
  margin-top:0;
}
